.header{
    width: 100%;
    height: 200px;
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    background-color: red;
}

@media screen and (min-width:600px){
    .header{
        width: 600px;
        height: 200px;
        display:flex;
        flex-direction: row;
        background-color: rgb(70, 228, 162);
    }
}



//   menu hamburgesa

body {
    font-family: sans-serif;
  }

.header-rp__nav a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    border-bottom: 2px solid #456789;
    max-width: 200px;
    background: #234567;
    font-variant: small-caps;
    text-shadow: 1px 1px black;
  }


.header-rp__nav input[type="checkbox"], .header-rp__nav .fa-bars, .header-rp__nav .fa-times {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 48px;
    height: 48px;
  }

.header-rp__nav .fa-bars, .header-rp__nav .fa-times {
    font-size: 48px;
    pointer-events: none;
  }

.header-rp__nav input[type="checkbox"] {
    opacity: 0;
  }

.header-rp__nav {
    color: white;
    position: relative;
    background: #123456;
    min-height: 48px;
  }

.header-rp__nav nav {
    display: none;
  }

.header-rp__nav input:checked ~ nav {
    display: block;
  }

.header-rp__nav input:checked ~ .fa-bars {
    display: none;
  }

.header-rp__nav input:not(:checked) ~ .fa-times {
    display: none;
  }

//   menu hamburgesa

.header--logo{
width: 20%;
height: 15%;

}


  @media screen and (min-width: 600px){
    .header__logo{
        width: 100px;
        height: 25px;
        display:flex;
        flex-direction: row;
        background-color: rgb(70, 228, 162);
    }
}





// .header__responsive--logo{
//     width: 20%;
//     min-height: 100px;
//     margin:5px 0;
//     background-color: green;
// }

// @media screen and (min-width:600 px) {
//     .header__responsive--logo{
//         width: 20%;
//         min-height: 100px;
//         margin:5px 0;
//         background-color: green;

//     }
// }

// .header__nav{

// }





// esta es para que el menu de arriba 
// no aparezca en pc
@media screen and (min-width:600 px) {
    .header__nav{
        display: none;

    }
}

// .header__nav--menu1{

// }

// @media screen and (min-width:600 px) {
//     .header__nav--menu1{

//     }
// }