.header {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: red;
}

@media screen and (min-width: 600px) {
  .header {
    width: 600px;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #46e4a2;
  }
}

body {
  font-family: sans-serif;
}

.header-rp__nav a {
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  border-bottom: 2px solid #456789;
  max-width: 200px;
  background: #234567;
  font-variant: small-caps;
  text-shadow: 1px 1px black;
}

.header-rp__nav input[type="checkbox"], .header-rp__nav .fa-bars, .header-rp__nav .fa-times {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  right: 0;
  top: 0;
  width: 48px;
  height: 48px;
}

.header-rp__nav .fa-bars, .header-rp__nav .fa-times {
  font-size: 48px;
  pointer-events: none;
}

.header-rp__nav input[type="checkbox"] {
  opacity: 0;
}

.header-rp__nav {
  color: white;
  position: relative;
  background: #123456;
  min-height: 48px;
}

.header-rp__nav nav {
  display: none;
}

.header-rp__nav input:checked ~ nav {
  display: block;
}

.header-rp__nav input:checked ~ .fa-bars {
  display: none;
}

.header-rp__nav input:not(:checked) ~ .fa-times {
  display: none;
}

.header--logo {
  width: 20%;
  height: 15%;
}

@media screen and (min-width: 600px) {
  .header__logo {
    width: 100px;
    height: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #46e4a2;
  }
}

@media screen and (min-width: 600 px) {
  .header__nav {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */